name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out code

      - uses: docker/build-push-action@v1
        name: Build & push Docker image
        with:
          username: ${{ secrets.dockerhubID }}
          password: ${{ secrets.dockerhubPASSWORD }}
          repository: ${{ secrets.dockerhubID }}/go-example
          tags: v${{ github.sha }}
    # - uses: actions/checkout@v2
    # - name: Build the Docker image
    #   run: docker build . --file Dockerfile --tag go-example:$(date +%s)

